@import 'c/commonCSS';
.DarkRow > td {
    background-color: rgb(245, 245, 245);
    border-bottom: solid 1px transparent;
}
.LightRow > td {
    background-color: white;
    border-bottom: solid 1px transparent;
}
.DarkRow:hover > td, .LightRow:hover > td {
    background-color: rgb(226, 226, 226);
    /* border-top-color: gray;
    border-bottom-color: gray; */
}
.slds-table thead tr th {
    background-color: rgb(255, 255, 255);
    border-bottom: solid 2px gray;;
}
