@import 'c/commonCSS';
.BadgeButton lightning-badge{
    width: 100px;
    border-radius: 5px;
}
.rounded-outline{
    border: 0px solid;
    border-radius: 5px;
    padding: 0px 4px;
    background-color: rgb(248, 173, 81);
    color: rgb(138, 91, 34);
}