.MyFieldTitle {
    font-size: 12px;
    color: #6F6F6F;
}
.MyFieldValue {
    font-size: 14px;
}
.text-grey {
    color: #ADADAD;
}
.slds-theme_blue {
    color: white;
    background-color: #0070D2;
}
.bold-text {
    font-weight: bold;
}
.bold-text-light {
    font-weight: bold;
    color: #636363;
}
.BadgeMinPadding {
    padding: 2px 7px 4px 7px;
}
.Opacity5 {
    opacity: 0.5;
}
.ClickableLink{
    cursor: pointer;
    color: rgb(1, 118, 211);
}
.HoverLink {
    cursor: pointer;
}
.HoverLink:hover {
    color: rgb(1, 118, 211);
}
.spinnerHolder{
    position: relative;
    display: inline-block;
}
.slds-text-color_blue{
    color: rgb(1, 118, 211);
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ADADAD;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    white-space: normal;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    top: 120%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.tdOppColor {
    width: 5px;
    padding-left: 3px !important;
}
.colorClosedWon {
    background-color: #98C8ED !important;
    border-color: #98C8ED !important;
}
.colorOpen {
    background-color: #FFDCAD !important;
    border-color: #FFDCAD!important;
}
.colorClosedLost {
    background-color: #CFCFCF !important;
    border-color: #CFCFCF!important;
}